#squaresWaveG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.squaresWaveG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:28px;
	height:28px;
	animation-name:bounce_squaresWaveG;
		-o-animation-name:bounce_squaresWaveG;
		-ms-animation-name:bounce_squaresWaveG;
		-webkit-animation-name:bounce_squaresWaveG;
		-moz-animation-name:bounce_squaresWaveG;
	animation-duration:0.195s;
		-o-animation-duration:0.195s;
		-ms-animation-duration:0.195s;
		-webkit-animation-duration:0.195s;
		-moz-animation-duration:0.195s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#squaresWaveG_1{
	left:0;
	animation-delay:0.076s;
		-o-animation-delay:0.076s;
		-ms-animation-delay:0.076s;
		-webkit-animation-delay:0.076s;
		-moz-animation-delay:0.076s;
}

#squaresWaveG_2{
	left:29px;
	animation-delay:0.0925s;
		-o-animation-delay:0.0925s;
		-ms-animation-delay:0.0925s;
		-webkit-animation-delay:0.0925s;
		-moz-animation-delay:0.0925s;
}

#squaresWaveG_3{
	left:58px;
	animation-delay:0.119s;
		-o-animation-delay:0.119s;
		-ms-animation-delay:0.119s;
		-webkit-animation-delay:0.119s;
		-moz-animation-delay:0.119s;
}

#squaresWaveG_4{
	left:88px;
	animation-delay:0.1355s;
		-o-animation-delay:0.1355s;
		-ms-animation-delay:0.1355s;
		-webkit-animation-delay:0.1355s;
		-moz-animation-delay:0.1355s;
}

#squaresWaveG_5{
	left:117px;
	animation-delay:0.152s;
		-o-animation-delay:0.152s;
		-ms-animation-delay:0.152s;
		-webkit-animation-delay:0.152s;
		-moz-animation-delay:0.152s;
}

#squaresWaveG_6{
	left:146px;
	animation-delay:0.1785s;
		-o-animation-delay:0.1785s;
		-ms-animation-delay:0.1785s;
		-webkit-animation-delay:0.1785s;
		-moz-animation-delay:0.1785s;
}

#squaresWaveG_7{
	left:175px;
	animation-delay:0.195s;
		-o-animation-delay:0.195s;
		-ms-animation-delay:0.195s;
		-webkit-animation-delay:0.195s;
		-moz-animation-delay:0.195s;
}

#squaresWaveG_8{
	left:205px;
	animation-delay:0.2115s;
		-o-animation-delay:0.2115s;
		-ms-animation-delay:0.2115s;
		-webkit-animation-delay:0.2115s;
		-moz-animation-delay:0.2115s;
}



@keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}