a {color:#000}
label {cursor:pointer}
html {height:100%}
body {
	height:100%;
	margin:0;
	background:#fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	font-family: Open Sans, sans-serif;
	font-size:16px}
#top {
	
	background:#fff;
	transition:.15s;
	height:1.6em;
	width:100%;
	z-index:1;
	position:relative;
	border-bottom:1px #ddd solid;
	font-size:1.4em}
#c {
	transition:.15s;
	cursor:crosshair;
	background:#ccc;
	float:left;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%}
#bottom { 
	border-top:1px solid #ddd;
	background:#fff;
	position:fixed;
	height:15em;
	bottom:0;
	width:100%;
	transition:.15s;
	left:0}
#bottom .list {
	overflow-y:auto;
	width:100%;
	height:12.5em;
	margin-top:2px}
#bottom > .line {
	border-bottom:1px #ddd solid;
	height:1.6em}
#bottom .nothide {display:none}

.b img, .b svg, .b input {
	display:inline-block;
	height:1em;
	width:1em;
	vertical-align:-10%}
.b {
	transition:.15s;
	background:#fff;
	font-weight:bold;
	cursor:pointer;
	line-height:1.8em;
	display:block;
	float:left;
	border:1px solid #ddd;
	padding:0 .25em;}
.b.i {
	float:none;
	display:inline-block;}
#top .b:not(:first-child), #bottom .line .b:not(:first-child):not(:last-child) {border-left:none}
#top .b, #bottom .line .b{
	border-top:none;
	border-bottom:none;
	line-height:1.6em}
.b:not(.na):not(.sel):hover {background:#def}
.b:not(.na):not(.sel):active {background:#8ad}
.b.sel, .b.sel path {
	background:#cfc;
	color:#080;
	fill:#080;
	cursor:default}
.b.na {
	color:#888;
	cursor:default}
.b.na path{fill:#888}
.b.fs{width:calc(100% - .5em - 2px)}
.b b {
	padding-left:0.2em;
	vertical-align:baseline;}
.red {color: #e11;}
.b.red {
	background: #fdd;
	color: #e11;
	fill: #e11;}
.b.stillsel.sel {cursor:pointer}
.b.stillsel.sel:hover {background:#6f6}
input[type="text"].b {
	cursor:text;
	font-size:100%}
	
.table{
	display:inline-block;
	vertical-align: middle;
	text-align:center;
	width:100%}
.table .t{display:table-cell}
.table .t3{display:table;
	table-layout:auto;
	width:100%}
.table .t2{
	display:table-row;
width:100%;}

.pad {
	width:calc(100% - 8px);
	padding:3px;
	display:none;
	border:1px solid #eee;}

.de {
	display:inline-block;
	vertical-align: middle;
	text-align:left}

.ps {width:100%}
.line{
	width:100%;
	margin-bottom:.25em}
.line:last-child{margin-bottom:0}
.line .t{padding-top:3px}

#windows > div {
	display:none;
	position:fixed;
	z-index:4;
	}
#windows > div.d {display:block}
#windows .back{
	position:fixed;
	background:#000;
	opacity:.4;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index:1;}
#windows .w {
	z-index:2;
	position:fixed;
	background:#fff;}
#windows .content {min-height:calc(100% - 36px - 3em)}
#windows > div.pu {z-index:6}
#windows .w.ifr {
	width:600px;
	left:calc(50vw - 300px);
	height:70vh;
	top:15vh}
#windows .w.ifr .header, #windows .w.ifr .bt {display:none}
#windows .w.ifr .cc {
	height:calc(100% - 24px);
	overflow:hidden}
#windows .w.ifr .content {
	height:100%;
	padding:0 !important}
#windows .w.ifr iframe {
	height:100%;
	border:none;
	width:100%}
#windows .w.sm {
	width:400px;
	left:calc(50vw - 200px);
	height:300px;
	top:calc(50vh - 150px)}
#windows .w.m {
	width:600px;
	left:calc(50vw - 300px);
	height:50vh;
	top:25vh}
#windows .w.wd {
	width:600px;
	left:calc(50vw - 300px);
	height:300px;
	top:calc(50vh - 150px)}
#windows .w.side {
	width:22em;
	left:calc(50vw - 11em);
	height:50vh;
	top:25vh}
#windows .w.tall {
	width:500px;
	left:calc(50vw - 250px);
	height:60vh;
	top:20vh}
#windows .cc{
	height:calc(100% - 2.5em - 18px);
	margin:.5em;
	overflow-y:auto}
#windows .cc.btns{height:calc(100% - 4.3em - 18px)}
#windows .bt{padding:5px}
#windows .h {
	width:100%;
	font-size:150%;
	font-weight:bold;
	cursor:move;
	text-align:center;
	background:#f0f5ff;
	color:#68a}
#windows .close {
	font-size:150%;
	font-weight:bold;
	cursor:pointer;
	text-align:center;
	background: #faa;
	color: #f00;
	position:absolute;
	top:0;
	right:0;
	width:1.8em}

body.night #windows .w.ifr iframe {
	filter:invert(100%);
	-webkit-filter:invert(100%)}
body.night, body.night #top, body.night #side, body.night #bottom, body.night .b, body.night a {
	background:#000;
	color:#eee}
body.night * {border-color: #333 !important;}
body.night #c {background: #012}
body.night .b.na {color:#888}
body.night .b:not(.na):not(.sel):hover {background:#046}
body.night .b:not(.na):not(.sel):active {background:#8ad}
body.night .b.sel, body.night .b.sel path{
	background:#040;
	fill:#8f8;
	color:#8f8}
body.night .b:not(.na):not(.sel) path {fill:#eee}
body.night .red{color: #f88;}
body.night .b.red, body.night .b.red path{
	background: #400;
	fill: #f88}
body.night .b.stillsel.sel:hover {background:#080}
body.night #windows .w{background:#000}
body.night #windows .h{
	background:#016; 
	color:#099}
body.night #windows .close {
	background:#d00; 
	color:#300}	
.night_nothide{display:none !important}
body.night .night_nothide{display:inline !important}
body.night .night_hide{display:none}

.sizes {text-align:center}

.debug {display:none !important}
body.debugEnabled .debug {display:block !important}

.labelHidden .b b {display:none !important}

.bottomHidden #bottom {height:1.75em}
.bottomHidden #bottom .nothide {display:inline}
.bottomHidden #bottom .hide {display:none}

.b.i.color {display:none}
.palette .b.i.color {display:inline}
.palette .b.i.color2 {display:none}